<div fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center">
    <angular-to-azure-nx-welcome></angular-to-azure-nx-welcome>
    <form>
        <div fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center" fxLayoutGap="1rem">
√           <input type="text" [formControl]="text" style="min-height: 2rem;"/>
            <button mat-flat-button type="button" (click)="send()">login</button>
            <button mat-flat-button type="button" (click)="register()">register</button>
            <label>{{foo}}</label>
        </div>

    </form>
</div>

